# Copia este archivo como .env y coloca aquí tus datos reales.
# El archivo .env NUNCA se sube a GitHub (está en .gitignore).

DATABASE_URL=postgresql://adminpostgre:TU_CONTRASENA@pg-cenestur-soledad02.postgres.database.azure.com:5432/postgres
